<section class="about">
    <div class="container about-container">

        <picture>
            <source media="(min-width: 1280px)" srcset="./img/about1x.png 1x, ./img/about2x.png 2x" type="image/jpg" />

            <img class="about-img" src="./img/about1x.png" alt="man" width="412" height="836" loading="lazy" />
        </picture>
        <div class="about-text-wrap">
            <h2 class="about-title">Hvordan fungerer ProHome?</h2>
            <ul class="about-list">
                <li class="about-item">
                    <div class="about-wrapper">
                        <span class="about-num">1.</span>
                        <h3 class="about-sub-title">Ring til os 24/7</h3>
                    </div>
                    <p class="about-text">Du kan kontakte os direkte, og vi vil hurtigt forbinde dig med vores
                        hjemmeplejeprofessionelle, der er klar til at
                        hjælpe når som helst.</p>
                </li>
                <li class="about-item">
                    <div class="about-wrapper">
                        <span class="about-num">2.</span>
                        <h3 class="about-sub-title">Planlæg service</h3>
                    </div>
                    <p class="about-text">Efter at have forbundet dit opkald, vil vores hjemmeplejeeksperter besvare
                        dine spørgsmål og tilbyde fleksible
                        aftaletider.</p>
                </li>
                <li class="about-item">
                    <div class="about-wrapper">
                        <span class="about-num">3.</span>
                        <h3 class="about-sub-title">Din anmodning er fuldført</h3>
                    </div>
                    <p class="about-text">Når din tekniker ankommer, vil han diagnosticere problemet og give et
                        overslag. Hvis du beslutter at fortsætte, vil
                        teknikeren gå i gang med arbejdet.</p>
                </li>
            </ul>
        </div>
    </div>
</section>