<section class="blog">
    <div class="container">
        <h2 class="blog-title">Opdag indsigt på vores blog</h2>
        <p class="blog-text">
            Vores blog indeholder masser af nyttig information og tips. Udforsk, lær
            noget nyt og bliv inspireret i dag.
        </p>
        <ul class="blog-list">
            <li class="blog-item">
                <picture>
                    <source media="(min-width: 1280px)" srcset="
              ./img/thumbnail-desc-1x.png 1x,
              ./img/thumbnail-desc-1x.png 2x
            " type="image/png" />
                    <source media="(max-width: 1279px)" srcset="
              ./img/thumbnail-mob-1x.png 1x,
              ./img/thumbnail-mob-2x.png 2x
            " type="image/png" />
                    <img class="blog-img" src="./img/thumbnail-desc-1x.png" alt="men" width="385" height="300"
                        loading="lazy" />
                </picture>
                <p class="blog-date">19 Jan 2023</p>
                <h3 class="blog-subtitle">Forståelse af smarthjemssystemer</h3>
                <p class="blog-desc">
                    Læs vores seneste blogindlæg for at finde den ultimative guide til at
                    løse almindelige smarthjemproblemer...
                </p>
                <ul class="blog-listing">
                    <li class="blog-listing-item">
                        <a href="" class="blog-listing-link">VVS-montør</a>
                    </li>
                    <li class="blog-listing-item">
                        <a href="" class="blog-listing-link">Havearbejde</a>
                    </li>
                    <li class="blog-listing-item link-none">
                        <a href="" class="blog-listing-link ">...</a>
                    </li>
                    <li class="blog-listing-item">
                        <a href="" class="blog-listing-link link-desc">Tømrer</a>
                    </li>
                </ul>
            </li>
            <li class="blog-item">
                <picture>
                    <source media="(min-width: 1280px)" srcset="
                          ./img/den-desc-1x.png 1x,
                          ./img/den-desc-1x.png 2x
                        " type="image/png" />
                    <source media="(max-width: 1279px)" srcset="
                          ./img/den-mob-1x.png 1x,
                          ./img/den-mob-2x.png 2x
                        " type="image/png" />
                    <img class="blog-img" src="./img/den-desc-1x.png" alt="men" width="385" height="300"
                        loading="lazy" />
                </picture>
                <p class="blog-date">19 Jan 2023</p>
                <h3 class="blog-subtitle">
                    Den ultimative guide til hjemmereparationer
                </h3>
                <p class="blog-desc">
                    Læs vores seneste blogindlæg for at finde den ultimative guide til at
                    løse almindelige problemer med smarthje..
                </p>
                <ul class="blog-listing">
                    <li class="blog-listing-item">
                        <a href="" class="blog-listing-link">VVS-montør</a>
                    </li>
                    <li class="blog-listing-item">
                        <a href="" class="blog-listing-link">Havearbejde</a>
                    </li>
                    <li class="blog-listing-item  link-none">
                        <a href="" class="blog-listing-link ">...</a>
                    </li>
                    <li class="blog-listing-item">
                        <a href="" class="blog-listing-link link-desc">Tømrer</a>
                    </li>
                </ul>
            </li>
            <li class="blog-item">
                <picture>
                    <source media="(min-width: 1280px)" srcset="
                          ./img/frisk-desc-1x.png 1x,
                          ./img/frisk-desc-1x.png 2x
                        " type="image/png" />
                    <source media="(max-width: 1279px)" srcset="
                          ./img/frisk-mob-1x.png 1x,
                          ./img/frisk-mob-2x.png 2x
                        " type="image/png" />
                    <img class="blog-img" src="./img/frisk-desc-1x.png" alt="men" width="385" height="300"
                        loading="lazy" />
                </picture>
                <p class="blog-date">19 Jan 2023</p>
                <h3 class="blog-subtitle">
                    Malingsteknikker til en frisk køkkenopdatering
                </h3>
                <p class="blog-desc">
                    Læs vores seneste blogindlæg for tips om, hvordan du løser almindelige
                    smarthjemproblemer. Vi giver trin-for..
                </p>
                <ul class="blog-listing">
                    <li class="blog-listing-item">
                        <a href="" class="blog-listing-link">VVS-montør</a>
                    </li>
                    <li class="blog-listing-item">
                        <a href="" class="blog-listing-link">Havearbejde</a>
                    </li>
                    <li class="blog-listing-item link-none">
                        <a href="" class="blog-listing-link ">...</a>
                    </li>
                    <li class="blog-listing-item">
                        <a href="" class="blog-listing-link link-desc">Tømrer</a>
                    </li>
                </ul>
            </li>
        </ul>
        <a href="" class="blog-link">View More <svg class="blog-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-right"></use>
            </svg>
        </a>
    </div>
</section>