<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-logo-wrap">
                <a href="" class="footer-logo">
                    <svg class="footer-logo-icon" width="32" height="36">
                        <use href="./img/icons.svg#icon-Logo-footer"></use>
                    </svg>
                    ProHome
                </a>
                <p class="footer-text">Home Pro er dit bedste valg for førsteklasses service og reparation af smarthjem
                </p>
                <ul class="footer-soc-list">
                    <li>
                        <a href="" class="footer-soc-link">
                            <svg class="footer-soc-icon" width="24" height="24">
                                <use href="./img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer-soc-link">
                            <svg class="footer-soc-icon" width="24" height="24">
                                <use href="./img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer-soc-link">
                            <svg class="footer-soc-icon" width="24" height="24">
                                <use href="./img/icons.svg#icon-mail"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-text-wrap">
                <ul class="footer-company-list">
                    <li class="footer-company-item">
                        <b class="footer-company-title">Company</b>
                        <p class="footer-company-name">Om os</p>
                        <p class="footer-company-name">Tjenester</p>
                        <p class="footer-company-name">Vores Blog</p>
                        <p class="footer-company-name">Kontakt</p>
                    </li>
                    <li class="footer-company-item">
                        <b class="footer-company-title">Legal</b>
                        <p class="footer-company-name">Terms</p>
                        <p class="footer-company-name">Privacy</p>
                        <p class="footer-company-name">Cookies</p>
                        <p class="footer-company-name">License</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <p class="footer-desc">©2024 ProHome . All rights reserved</p>

</footer>