<section class="forbedr">
    <div class="container forbedr-container">
        <h2 class="forbedr-title">Klar til at forbedre eller reparere dit hjem?</h2>
        <ul class="forbedr-list">
            <li class="forbedr-item">
                <svg class="forbedr-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-Vector"></use>
                </svg>
                <p class="forbedr-text">Gratis tilbud</p>
            </li>
            <li class="forbedr-item">
                <svg class="forbedr-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-Vector"></use>
                </svg>
                <p class="forbedr-text">100% Commitment-Free</p>
            </li>
        </ul>
        <button class="forbedr-btn">
            <span class="forbedr-icon-wrap icon-first">
                <svg class="forbedr-phone" width="17" height="16">
                    <use href="./img/icons.svg#icon-phone"></use>
                </svg>
            </span>
            Ring til os nu
            <span class="forbedr-icon-wrap">
                <svg class="forbedr-phone" width="17" height="16">
                    <use href="./img/icons.svg#icon-phone"></use>
                </svg>
            </span>
        </button>
    </div>
</section>