<header class="header">
  <div class="container header-container">
    <a href="" class="logo">
      <svg class="logo-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-Logo-header"></use>
      </svg>
      ProHome
    </a>
    <nav class="navigation">
      <ul class="nav-list">
        <li><a href="" class="nav-link">Om os</a></li>
        <li><a href="" class="nav-link">Tjenester</a></li>
        <li><a href="" class="nav-link">Vores Blog</a></li>
        <li><a href="" class="nav-link">Kontakt</a></li>
      </ul>
    </nav>
    <button class="menu-open-btn">
      <svg class="menu-open-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>