<section class="hero">
    <div class="container hero-container">
        <h1 class="hero-title">Har du brug for forbedring eller reparation af dit hjem?</h1>
        <ul class="hero-list">
            <li class="hero-item">
                <svg class="hero-icon" width="14" height="10">
                    <use href="./img/icons.svg#icon-Vector"></use>
                </svg>
                <p class="hero-text">Gratis tilbud</p>
            </li>
            <li class="hero-item">
                <svg class="hero-icon" width="14" height="10">
                    <use href="./img/icons.svg#icon-Vector"></use>
                </svg>
                <p class="hero-text">100% Commitment-Free</p>
            </li>
        </ul>
        <button type="button" class="hero-btn">Opret en opgave</button>
    </div>
</section>