<section class="prof">
    <div class="container prof-container">
        <picture>
            <source media="(min-width: 1280px)" srcset="./img/prof-desk-1x.png 1x, ./img/prof-desk-2x.png 2x"
                type="image/png" />
            <source media="(max-width: 767px)" srcset="./img/prof-mob-1x.png 1x, ./img/prof-mob-2x.png 2x"
                type="image/jpg" />
            <img class="prof-img" src="./img/prof-desk-1x.png" alt="men" width="577" height="567" loading="lazy" />
        </picture>
        <div class="prof-text-wrap">
            <h2 class="prof-title">Professionelle til dine hjemmetjenester</h2>
            <p class="prof-text">Har du brug for hjælp i hjemmet? Vi er eksperter i hjemmepleje i DK-regionen og
                tilbyder
                forskellige tjenester til at
                støtte dine behov i hjemmet</p>
            <div class="list-wrap">
                <ul class="prof-list">
                    <li class="prof-item">
                        <svg width="17" height="16" class="prof-icon">
                            <use href="./img/icons.svg#icon-Vector"></use>
                        </svg>
                        <p class="prof-desc">Reperation og installation</p>
                    </li>
                    <li class="prof-item">
                        <svg width="17" height="16" class="prof-icon">
                            <use href="./img/icons.svg#icon-Vector"></use>
                        </svg>
                        <p class="prof-desc">VVS-montør</p>
                    </li>
                    <li class="prof-item">
                        <svg width="17" height="16" class="prof-icon">
                            <use href="./img/icons.svg#icon-Vector"></use>
                        </svg>
                        <p class="prof-desc">Havearbejde</p>
                    </li>

                </ul>
                <ul class="prof-list">
                    <li class="prof-item">
                        <svg width="17" height="16" class="prof-icon">
                            <use href="./img/icons.svg#icon-Vector"></use>
                        </svg>
                        <p class="prof-desc">Handyman</p>
                    </li>
                    <li class="prof-item">
                        <svg width="17" height="16" class="prof-icon">
                            <use href="./img/icons.svg#icon-Vector"></use>
                        </svg>
                        <p class="prof-desc">Budgetvenlige løsninger</p>
                    </li>
                    <li class="prof-item">
                        <svg width="17" height="16" class="prof-icon">
                            <use href="./img/icons.svg#icon-Vector"></use>
                        </svg>
                        <p class="prof-desc">Miljøvenlige løsninger</p>
                    </li>
                </ul>
            </div>
            <a href="tel:+45 71 00 67 00" class="prof-link">Kontakt os på +45 71 00 67 00</a>
        </div>
    </div>
</section>