<section class="service ">
    <div class="container service-container">
        <h2 class="service-title">Vores Tjenester</h2>
        <p class="service-text">Har du problemer med lækkende rør, knækkede fliser, mistede nøgler eller ønsker du at
            rydde op i træerne omkring dig?
            Selvfølgelig har du brug for vores hjælp!</p>
        <ul class="service-list">
            <li class="service-item">
                <img src="./img/img1.png" alt="service-logo" width="64" height="64" class="service-img">
                <h3 class="service-subtitle">VVS-tjenester</h3>
                <p class="service-desc">Lækende afløbsrør, tilstoppede rør, udskiftning af rørledning</p>
            </li>
            <li class="service-item">
                <img src="./img/img2.png" alt="service-logo" width="64" height="64" class="service-img">
                <h3 class="service-subtitle">Tagreparation</h3>
                <p class="service-desc">Taglækager, udskiftning af fliser, tagrensning og vedligeholdelse</p>
            </li>
            <li class="service-item">
                <img src="./img/img3.png" alt="service-logo" width="64" height="64" class="service-img">
                <h3 class="service-subtitle">Fjernelse af skimmel</h3>
                <p class="service-desc">Fjernelse og rengøring af skimmel, restaurering og forebyggelse</p>
            </li>
            <li class="service-item">
                <img src="./img/img4.png" alt="service-logo" width="64" height="64" class="service-img">
                <h3 class="service-subtitle">Havearbejde</h3>
                <p class="service-desc">Beskæring og rengøring, fjernelse af dødt træ, formning af træer</p>
            </li>
            <li class="service-item">
                <img src="./img/img5.png" alt="service-logo" width="64" height="64" class="service-img">
                <h3 class="service-subtitle">Reparation af apparater</h3>
                <p class="service-desc">Reparation af vaskemaskiner, køleskabe, aircondition osv.</p>
            </li>
            <li class="service-item">
                <img src="./img/img6.png" alt="service-logo" width="64" height="64" class="service-img">
                <h3 class="service-subtitle">Bathroom Remodeling</h3>
                <p class="service-desc">Design and Consulting, installation, Repairing, tile repair</p>
            </li>
            <li class="service-item">
                <img src="./img/img7.png" alt="service-logo" width="64" height="64" class="service-img">
                <h3 class="service-subtitle">Låsesmed</h3>
                <p class="service-desc">Installation og reparation af låse, omlægning af låse</p>
            </li>
        </ul>
        <div class="service-thumb">
            <h3 class="service-heading">Flere tjenester?</h3>
            <p class="service-descrintion">Fortæl os, hvad du har brug for, og vi kan hjælpe!</p>
            <button type="button" class="service-btn">Ring til os nu</button>
        </div>
    </div>
</section>